@import "tailwindcss";

@theme {
  /* custom brand colors*/
  --color-brand-blue: #0082c3;
  --color-brand-dark: #006b9f;
  --color-brand-primary: #4f46e5;
  --color-brand-primary-hover: #4338ca;
  --color-bg-app: #f4f5f7;
  --color-text-main: #333333;
  --color-text-muted: #666666;
  --color-border-subtle: #e1e4e8;
  --color-bg-card: #ffffff;

  /* custom font */
  --font-sans: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Global resets for the background and text color */
body,
#root {
  background-color: var(--color-bg-app);
  color: var(--color-text-main);
  min-height: 100vh;
  width: 100%;
}

@layer base {
  * {
    box-sizing: border-box;
  }
}
